# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [15]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [84]:
# Find how many continents and name of the continents
continents = drinks['continent'].unique()
continents

array(['AS', 'EU', 'AF', nan, 'SA', 'OC'], dtype=object)

In [92]:
# CREATE SEPARATE DFs FOR EACH CONTINENT
drinks_AS = drinks.loc[drinks['continent'] == 'AS']
drinks_EU = drinks.loc[drinks['continent'] == 'EU']
drinks_AF = drinks.loc[drinks['continent'] == 'AF']
drinks_SA = drinks.loc[drinks['continent'] == 'SA']
drinks_OC = drinks.loc[drinks['continent'] == 'OC']

### Step 5. For each continent print the statistics for wine consumption.

### Step 6. Print the mean alcoohol consumption per continent for every column

### Step 7. Print the median alcoohol consumption per continent for every column

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame